# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Firebase
/firebase-export
/functions/node_modules
*.log
firebase-debug.log
firestore-debug.log
database-debug.log
pubsub-debug.log
storage-debug.log

# Environment variables
.env
.env*.local

# IDEs and editors
/.vscode/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db
